################################################################################
#                                    SCALES                                    #
################################################################################

style "scale" {
  GtkScale::slider-length = 31
  GtkRange::slider_width = 20
  GtkRange::stepper_size = 15
  GtkRange::trough_border = 0

  engine "pixmap" {
    image {
      function = BOX
      file = "/scale/trough-horizontal.png"
      border = {9, 9, 2, 2}
      stretch = TRUE
      orientation = HORIZONTAL
    }
    image {
      function = BOX
      file = "/scale/trough-vertical.png"
      border = {2, 2, 9, 9}
      stretch = TRUE
      orientation = VERTICAL
    }

    # NOTE: Sliders use the empty null.png to fix a transparency bug.

    image {
      function = SLIDER
      recolorable = TRUE
      state = NORMAL
      file = "/scale/null.png"
      border = {0, 0, 0, 0}
      stretch = TRUE
      overlay_file = "/scale/slider.png"
      overlay_stretch = FALSE
      orientation = HORIZONTAL
    }
    image {
      function = SLIDER
      recolorable = TRUE
      state = PRELIGHT
      file = "/scale/null.png"
      border = {0, 0, 0, 0}
      stretch = TRUE
      overlay_file = "/scale/slider-prelight.png"
      overlay_stretch = FALSE
      orientation = HORIZONTAL
    }
    image {
      function = SLIDER
      recolorable = TRUE
      state = INSENSITIVE
      file = "/scale/null.png"
      border = {0, 0, 0, 0}
      stretch = TRUE
      overlay_file = "/scale/slider.png"
      overlay_stretch = FALSE
      orientation = HORIZONTAL
    }

    image {
      function = SLIDER
      recolorable = TRUE
      state = NORMAL
      file = "/scale/null.png"
      border = {0, 0, 0, 0}
      stretch = TRUE
      overlay_file = "/scale/slider.png"
      overlay_stretch = FALSE
      orientation = VERTICAL
    }
    image {
      function = SLIDER
      recolorable = TRUE
      state = PRELIGHT
      file = "/scale/null.png"
      border = {0, 0, 0, 0}
      stretch = TRUE
      overlay_file = "/scale/slider-prelight.png"
      overlay_stretch = FALSE
      orientation = VERTICAL
    }
    image {
      function = SLIDER
      recolorable = TRUE
      state = INSENSITIVE
      file = "/scale/null.png"
      border = {0, 0, 0, 0}
      stretch = TRUE
      overlay_file = "/scale/slider.png"
      overlay_stretch = FALSE
      orientation = VERTICAL
    }
  }
}

class "GtkScale" style "scale"
